$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$bg-red: #c2002f;
$white: white;
$black: black;
$font-family-myriad: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-open-sans: "Open Sans", Sans-serif;

// .browsehappy {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

/* Body and global styles */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  background-color: $black;
  font-family: $font-family-myriad;
  line-height: 2;
}

h3 {
  padding-bottom: 2%;
  font-size: 20px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

/* need to position text over jpg's, see below */
// img {
//   position: relative;
// }


/* Custom page navbar and footer */

nav {
  background-color: $bg-red;
  color: $white;
  font-family: $font-family-open-sans;
  a {
  color: $white;
    h4 {
      margin-top: 30%;
      font-size: 20px;
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  img {
      margin-top: 18%;
      width: 45%;
      height: 45%;
  }
}


footer {
  background-color: $bg-red;
  color: $white;
  font-size: 16px;
  font-family: $font-family-open-sans;
  padding-top: 4%;
  padding-bottom: 4%;
  h2 {
    margin: 0;
  }
}


/* Jpeg / text containers */
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.responsive-image{
  width: 100%;
  background-size: 100% 100%;
}

/* Jessica section */
.jessica-section {
  position: relative;
}

.jessica-text {
  position: absolute;
  width:100%;
  font-family: $font-family-open-sans;
  color: $white;
  top:0;
  padding-top: 35%;
  padding-bottom: 12%;
  p {
    padding-left: 12%;
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
    letter-spacing: 5px;
    padding-left: 13%;
  }
}

/* Goal Section */
.goal-section {
  background-color: $white;
  font-family: $font-family-myriad;
  font-size: 20px;
  padding-top: 6%;
  padding-bottom: 6%;
}


/* Campaign Section */
.campaign-section {
  font-family: $font-family-myriad;
  font-size: 20px;
  color: $white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: url('../images/jessica-polaroid.jpg');
}

.campaign-text {
  width:100%;
  top:0;
  background-color:#694679;
  opacity: 0.7;
  padding-top: 12%;
  padding-bottom: 12%;
}


/* Social media / section */
video {
   width:100%;
   height:auto;
}

.social, .video-section {
  img {
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
    height: auto;
  }
}







// @media only screen and (min-width:960px){
//     /* styles for browsers larger than 960px; */
// }

// @media only screen and (min-width:1440px){
//     /* styles for browsers larger than 1440px; */

// }
// @media only screen and (min-width:2000px){
//     /* for sumo sized (mac) screens */
// }
@media only screen and (max-width:$screen-xs){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
  body {
    line-height: 1.5;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 10px;
  }

  nav {
    img {
      margin-top: 18%;
      width: 38%;
      height: 38%;
    }
    a {
      h4 {
        margin-top: 38%;
        font-size: 12px;
      }
    }
  }

  .jessica-text {
  p {
      padding-left: 3%;
      font-size: 10px;
    }
  h1 {
      font-size: 14px;
      letter-spacing: 4px;
      padding-left: 4%;
    }
  }



  .goal-section, .campaign-section {
    padding-left: 0;
    padding-right: 0;
  }

}

// @media only screen and (max-width:$screen-sm){
//   h2 {
//     font-size: 20px;
//   }
//   h3 {
//     font-size: 18px;
//   }
//   p {
//     font-size: 14px;
//   }

//   nav {
//     img {
//       margin-top: 18%;
//       width: 38%;
//       height: 38%;
//     }
//     a {
//       h4 {
//         margin-top: 30%;
//         font-size: 16px;
//       }
//     }
//   }
// }


// @media only screen and (min-width:$screen-md){


//   nav {
//     img {
//       margin-top: 18%;
//       width: 38%;
//       height: 38%;
//     }
//     a {
//       h4 {
//         margin-top: 30%;
//         font-size: 16px;
//       }
//     }
//   }
// }
/* different techniques for iPad screening */
// @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
//   /* For portrait layouts only */
// }

// @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
//   /* For landscape layouts only */
// }
