$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$bg-red: #c2002f;
$white: white;
$black: black;
$font-family-myriad: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-open-sans: "Open Sans", Sans-serif;


/* Body and global styles */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  background-color: $black;
  font-family: $font-family-myriad;
  line-height: 2;
}

h3 {
  padding-bottom: 2%;
  font-size: 20px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

/* Custom page navbar and footer */

nav {
  background-color: $bg-red;
  color: $white;
  font-family: $font-family-open-sans;

  ul{
    padding-left: 11% !important;
    padding-right: 11% !important;
  }

  a {
    color: $white;
    h4 {
      margin-top: 8%;
      font-size: 16px;
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  img {
      width: 12%;
      margin-top: 5%;
      margin-bottom: 4%;
  }
}


footer {
  background-color: $bg-red;
  color: $white;
  font-size: 16px;
  font-family: $font-family-open-sans;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 10%;
  h2 {
    margin: 0;
  }
}


/* Jpeg / text containers */
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.responsive-image{
  width: 100%;
  background-size: 100% 100%;
}

/* Jessica section */
.jessica-section {
  position: relative;
}

.jessica-text {
  position: absolute;
  width:100%;
  font-family: $font-family-open-sans;
  color: $white;
  top:0;
  padding-top: 35%;
  padding-bottom: 12%;
  p {
    padding-left: 8%;
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
    letter-spacing: 5px;
    padding-left: 9%;
  }
}

/* Goal Section */
.goal-section {
  background-color: $white;
  font-family: $font-family-myriad;
  font-size: 20px;
  padding-top: 6%;
  padding-bottom: 6%;
}


/* Campaign Section */
.campaign-section {
  font-family: $font-family-myriad;
  font-size: 20px;
  color: $white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: url('../images/jessica-polaroid.jpg');
}

.campaign-text {
  width:100%;
  top:0;
  background-color:#694679;
  opacity: 0.7;
  padding-top: 12%;
  padding-bottom: 12%;
}


/* Social media / section */
video {
   width:100%;
   height:auto;
}

.social, .video-section {
  img {
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
    height: auto;
  }
}


//MEDIA QUERIES

@media only screen and (max-width: $screen-xs) {

  h3 {
    font-size: 14px !important;
  }

  p {
    font-size: 10px !important;
  }

  nav {

    ul{
      padding-top: 1%;
    }

    a {
      h4 {
        padding-top: 3%;
        margin-bottom: 13%;
        font-size: 9px !important;
      }
    }
  }

}

@media only screen and (max-width:$screen-sm){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
  body {
    line-height: 2;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

nav {

  ul{
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-top: 1%;
  }

  img {
    width: 15%;
    margin-top: 5%;
  }

  a {
    h4 {
      padding-top: 3%;
      margin-bottom: 13%;
      font-size: 12px;
    }
  }
}

.jessica-text {
  p {
      padding-left: 3%;
      font-size: 10px;
    }
  h1 {
      font-size: 14px;
      letter-spacing: 4px;
      padding-left: 4%;
    }
}

// video / img styling in social section

.social, .video-section {
  video {
    max-width: 90%;
  }
  img {
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 90%;
    height: auto;
  }
}

.goal-section, .campaign-section {
    padding-left: 0;
    padding-right: 0;
  }

}

